.table_title {
    color: #09844a;
    margin-left: 20px;
    text-align: center;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table_head {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.table_body {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
}

.table_body tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table_body tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table_body tr.active-row {
    font-weight: bold;
    color: #009879;
}
